* {
  margin: 0;  
  padding: 0;
  border: 0;
  transition: all 0.3s linear;
}

.body {
	background-color: blueviolet;
}

.container {
	background-color: brown;
	width: 80%;
	margin: auto;
}

.key {
  display: block;
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

.key-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  color: blue;
}

.mem-icon {
  visibility: hidden;
  color: #000000;
  font-weight: 900;
  font-size: large;
}

.container:hover .key-header,
.key:has(.key-check:checked) .key-header {
  color: #000000;
}

.key:hover .key-header .mem-icon,
.key:has(.key-check:checked) .key-header .mem-icon {
  transform: rotate(45deg);
}

.container:hover .mem-icon{
  visibility: visible;
}

.mem-content {
  height: 0;
  font-size: 0;
  background-color: rgb(231, 231, 231);
  width: 80%;
  margin: auto;
}

.key:hover .mem-content,
.key-check:checked +.mem-content {
  height: 5rem;
  font-size: 1rem;
  transition: all 0.3s linear;
}

.mem-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.key:active .key-header {
  color: blue !important;
}

.key:active .mem-img {
  opacity: 0.8;
}