* {
  transition: all 0.3s linear;
}

body {
	background-color: blueviolet;
}

.container {
	background-color: brown;
	width: 80%;
	margin: auto;
}

span {
  visibility: hidden;
}

.container:hover span{
  visibility: visible;
}

.mem-content {
  height: 0;
  font-size: 0;
  background-color: aqua;
  width: 80%;
  margin: auto;
}

.key:hover .mem-content,
.key-check:checked +.mem-content {
  height: 2rem;
  font-size: 1rem;
  transition: all 0.3s linear;
}

label {
  display: block;
  background-color: blue;
}
