@font-face {
  font-family: "Noticia";
  font-style: normal;
  font-weight: 400;
  src: url("../font/NoticiaText-Regular.ttf"); 
 }

 * {
  margin: 0;  
  padding: 0;
  border: 0;
  transition: all 0.25s linear;
}

.body {
  padding: 2vw 1vw;
  font-family: "Noticia", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: rgb(231, 231, 231);
}

.main {
  width: 95%;
  padding: 2% 0;
  margin: auto;
  background-color: rgb(231, 231, 231);
  border-radius: 1vw;
}

.main__header {
  text-align: center;
  padding-bottom: 1vw;
}

.container {
	width: 95%;
	margin: auto;
}

.key {
  display: block;
  padding-bottom: 2vw;
  background-color: rgb(231, 231, 231);
  border-top: 0.2vw solid #000000;
}

.key-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 1vh;
  color: blue;
}

.mem-content {
  height: 0;
  font-size: 0;
  background-color: rgb(231, 231, 231);
  width: 80%;
  margin: auto;
}

.mem-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mem-icon {
  display: block;
  color: #000000;
  font-size: 8vw;
}

.key-check:checked +.mem-content {
  height: 65vw;
  font-size: 1rem;
  transition: all 0.2s linear;
}

.key:has(.key-check:checked) .key-header {
  color: #000000;
}

.key:active .key-header {
  color: blue !important;
}

.key:active .mem-content .mem-img {
  opacity: 0.8;
}

@media (hover: none) {

  .key:has(.key-check:checked) .key-header .mem-icon {
    transform: rotate(45deg);
  }

}

@media (hover: hover) {
  .key {
    cursor: pointer;
  }

  .mem-icon {
    visibility: hidden;
  }

  .container:hover .mem-icon{
    visibility: visible;
  }

  .container:hover .key-header {
    color: #000000;
  }

  .key:hover .key-header .mem-icon {
    transform: rotate(45deg);
  }

  .key:hover .mem-content {
    height: 65vw;
    font-size: 1rem;
    transition: all 0.3s linear;
  }

}